/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    padding: 16px;
    background-color: rgb(17, 30, 128);
    color:#ecf0f1;
}

header h1,
section h2,
section h3,
form button,
input,
textarea {
    font-family: 'Stardos Stencil', cursive;
    font-size: 25px;
    color:  rgb(17, 30, 128);
    }
form button{
    font-size: 20px;
    color:#fff;
}
header h1 {
    font-size: 40px;
    color: rgb(255, 255, 255);
}

section h2{
    font-size: 25px;
    margin-bottom: 10px;
}
input,
textarea {
    font-size: 15px;
}
.contato{
    padding: 5px;
    background-color: rgb(17, 30, 128);
    color:#ecf0f1;
    text-align: center;
}
header nav li {
    display: inline;
    margin-left: 20px;
    font-family: 'Stardos Stencil', cursive;
    font-size: 25px;
    font-weight:lighter;
    }
header nav li a {
    color: #ecf0f1;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
header .container{
    display:flex;
    align-items: center;
    justify-content: space-between;    
}

.paragrafo, .paragrafo_2{
    background-color: rgb(255, 255, 255);
    text-align:justify;
    max-width: 1280px;
    margin-top: 25px;
    margin-bottom: 1px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.paragrafo_2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin-top: 5px;}

.brands-list img {
    height: 85px;
    vertical-align: middle;
}
.brands-list li {
    display: inline;
    margin-right: 8px;
    vertical-align: middle;
}
.brands-list li a{
    text-decoration: none;
}

.imagem-loja {
    border: 2px solid black;
    width: 500px;
    height: auto;
    float:left;
    margin-right: 20px;
    padding: 5px;
    margin-top: 25px;
    margin-left: 10px;
}
section .container {
    align-items: flex-start;
    vertical-align: middle;
}

section{
    padding: 24px 0;
}

section .h2 {
    margin-top: 16px;
    margin-bottom: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
section p{
    margin-bottom: 8px;
}
.social-links img{
height: 50px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}
.social-links li a{
    text-decoration: none;
}

#contact .container{
    display:block;
    
}
.contact-methods{
    display: flex;
    justify-content: space-between;
}
form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}
form textarea {
    resize: none;
    height: 180px;
}
form button{
    background-color: rgb(17, 30, 128);
    color(#fff);
    border: none;
    cursor: pointer;

}
form button:hover{
    background-color: rgb(58, 72, 175);
}
input:focus, textarea:focus{
    outline-color:rgb(17, 30, 128) ;
}
footer{
    background-color: rgb(17, 30, 128);
    color:#fff;
    padding: 10px 0 10px 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;

}